<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House</title>
    <!-- link icone -->
    <link rel="icon" href="/Public/image/Fresh nuts 1 (1).png">
    <!-- font icone link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- css link -->
    <link rel="stylesheet" href="/Public/style.css">

</head>
<body>
<!-- section header -->
<section>
    <header>
        <nav>
            <div class="navbar">
                <div class="logo">
                    <img src="/Public/image/logo.png" alt="">
                </div>
                 <ul class="nav-items">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Contact Us</a></li>
                 </ul>
            </div>
           <!-- nav responsive cheick out -->
            <div class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
              </div>
        </nav>
        <div class="description">
           <div class="row">
            <div class="col">
                <h1>Your  Rental Journey Begins Here</h1>
                <p>We Make Finding Rentals Easy, Effortless Search, Endless Choices</p>
                <div class="button">
                    <button type="button"><a href="">Rent Now</a></button>
                    <button type="button"><a href="">Rent Your Place</a></button>
                </div>
            </div>
            <div class="col">
                <img src="/Public/image/Fresh nuts 1 (1).png" alt="">
            </div>
           </div>
        </div>
    </header>
</section>

<!-- section About -->
<section id="about">
    <div class="row">
        <div class="col">
            <img src="/Public/image/s9mgye9e-removebg-preview 1.png" alt="">
        </div>
        <div class="col">
            <h1>Begin your awesome journey</h1>
            <p>Looking for the perfect home to rent? Our user-friendly house rental website makes your search a breeze. 
                Browse through a diverse range of listings,
                From cozy apartments to spacious family houses. 
            </p>
            <p>
                With detailed descriptions, vivid photos, and handy filters, 
                finding your ideal rental is just a click away. 
            </p>
            <button type="button"><a href="">Continue</a></button>
        </div>
    </div>
</section>

<!-- section services -->
<section id="service">
    <h1>See Our Services</h1>
    <p>We Make Finding Rentals Easy, Effortless Search, Endless Choices</p>
    <div class="row">
        <div class="col card">
            <div class="container">
                <img src="/Public/image/Vector (3).png" alt="">
                <h2>Responsive</h2>
                <p>Our commitment to being responsive means that your concerns and efficient.</p>
            </div>
        </div>
        <div class="col cart">
            <div class="container">
                <img src="/Public/image/Vector (1).png" alt="">
                <h2>Green</h2>
                <p>Experience the convenience of our responsive platform, ensuring swift communication.</p>
            </div>
        </div>
        <div class="col card">
            <div class="container">
                <img src="/Public/image/Vector (3).png" alt="">
                <h2>Security</h2>
                <p>Ensuring swift communication and quick solutions for all your rental needs.</p>
            </div>
        </div>
    </div>

</section>

<!-- comment peapole your service -->
<section id="comment-service">
    <h1>What Customers Say About Our Services</h1>
    <p>We Make Finding Rentals Easy, Effortless Search, Endless Choices</p>
    <div class="row">
        <div class="col card">
            <img src="/Public/image/IMAGE 1.png" alt="">
            <h2>David anderson</h2>
            <p>“I loved the experience, renting a home was an pleasure. From the communication was seamless and professional”.</p>
        </div>
        <div class="col card">
            <img src="/Public/image/IMAGE 2.png" alt="">
            <h2>Alex Mitchell</h2>
            <p>“It was an Amazing Experience, the attention to detail, personalized approach made the entire process stress-free”.</p>
        </div>
        <div class="col card">
            <img src="/Public/image/IMAGE 3.png" alt="">
            <h2>Ryan Bennett</h2>
            <p>“Our experience was so good with renting services exceeded all expectations. Demonstrated a deep understanding”..</p>
        </div>
    </div>
</section>


<!-- section footer -->
<section id="footer">
    <div class="row">
        <div class="col">
            <img src="/Public/image/logo.png" alt="logo">
            <p>The best and easiest way to rent homes.</p>
        </div>
        <div class="col">
            <h3>Useful links</h3>
            <p><a href="">About us</a></p>
            <p><a href="">Events</a></p>
            <p><a href="">Blogs</a></p>
            <p><a href="">FAQ</a></p>
        </div>
        <div class="col">
            <h3>Main Menu</h3>
            <p><a href="">Home</a></p>
            <p><a href="">Offers</a></p>
            <p><a href="">Menus</a></p>
            <p><a href="">Reservation</a></p>
        </div>
        <div class="col">
            <h3>Contact Us</h3>
            <p><a href="">coulibalypienanidriss@yahoo.ca</a></p>
            <p><a href="">+225 0787479770</a></p>
            <p><a href="">Social media</a></p>
          
        </div>
    </div>
    <div class="row">
        <!-- sociol page icone -->
        <div class="col">
          <div class="container">
            <div class="icone-social"><a href=""><i class="fa-brands fa-facebook-f"></i></a></div>
            <div class="icone-social"><a href=""><i class="fa-brands fa-instagram"></i></a></div>
            <div class="icone-social"><a href=""><i class="fa-brands fa-x-twitter"></i></a></div>
            <div class="icone-social"><a href=""><i class="fa-brands fa-youtube"></i></a></div>



          </div>
        </div>
        <!-- copyright -->
        <div class="col">
            Copyright <img src="/Public/image/fi-rr-copyright.png" alt=""> 2023 Dscode | All rights reserved
        </div>
    </div>
</section>

    
    <SCript src="/Public/script.js"></SCript>
</body>
</html>